
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row"></div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header bg-primary">
          <div class="card-tools">
            <button type="button" class="btn btn-outline-light btn-sm" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div id="error-message-container" class="alert alert-danger" style="display: none;"></div>
        <div id="success-message-container" class="alert alert-success" style="display: none;"></div>
        <div class="card-body">
          <button id="addRowBtn" class="btn btn-primary float-right"><i class="fas fa-plus"></i></button>

          <!-- Add these input fields above the DataTable -->
          <form class="form-group row m-2">
            <label class="form-label" for="date_range">تاريخ:</label>
            <div class="col-xs-3 ml-">
              <input type="text" class="form-control" id="date_range" />
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary" id="submitBtn">فلتر</button>
            </div>
          </form>
          <table id="example2" class="table table-bordered table-striped table-hover">
            <thead class="bg-primary">
              <tr>
                <th>#</th>
                <th>الباركود</th>
                <th>الحالة</th>
                <th>اسم العميل</th>
                <th>رقم الهاتف 1</th>
                <th>رقم الهاتف 2</th>
                <th>عنوان العميل</th>
                <th>سعر الشحن</th>
                <th>العمولة</th>
                <th>الإجمالي</th>
                <th>إجمالي سعر العناصر</th>
                <th>ملاحظة</th>
                <th>واتساب (1) مفعل</th>
                <th>الهاتف (1) مفعل</th>
                <th>رسالة نصية (1) مفعلة</th>
                <th>واتساب (2) مفعل</th>
                <th>الهاتف (2) مفعل</th>
                <th>رسالة نصية (2) مفعلة</th>
                <th>تاريخ الإنشاء</th>
                <th>تاريخ التحديث</th>
                <th>المسوق</th>
                <th>المحافظة</th>
                <th>المدينة</th>
                <th>شركة الشحن</th>
                <th>اختر عملية</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>الباركود</th>
                <th>الحالة</th>
                <th>اسم العميل</th>
                <th>رقم الهاتف 1</th>
                <th>رقم الهاتف 2</th>
                <th>عنوان العميل</th>
                <th>سعر الشحن</th>
                <th>العمولة</th>
                <th>الإجمالي</th>
                <th>إجمالي سعر العناصر</th>
                <th>ملاحظة</th>
                <th>واتساب (1) مفعل</th>
                <th>الهاتف (1) مفعل</th>
                <th>رسالة نصية (1) مفعلة</th>
                <th>واتساب (2) مفعل</th>
                <th>الهاتف (2) مفعل</th>
                <th>رسالة نصية (2) مفعلة</th>
                <th>تاريخ الإنشاء</th>
                <th>تاريخ التحديث</th>
                <th>المسوق</th>
                <th>المحافظة</th>
                <th>المدينة</th>
                <th>شركة الشحن</th>
                <th>اختر عملية</th>
              </tr>
            </tfoot>
          </table>



          <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="orderModalLabel">تفاصيل الطلب</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="orderDetailsBody">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Product Modal -->

          <div class="modal fade" id="addShippingModal" tabindex="-1" role="dialog"
            aria-labelledby="addShippingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addShippingModalLabel">اضافة سعر شحن جديد</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" id="addShippingForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div id="orderItemsContainer">
                      {{ variant_formset.management_form }}
                      {% for form in variant_formset %}
                          <div class="order-item-form">
                              {{ form.as_p }}
                          </div>
                      {% endfor %}
                  </div>
                    <button type="button" class="btn btn-outline-success" id="add-variant">اضافة منتج</button>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                  <button type="button" class="btn btn-primary" id="saveShippingBtn">حفظ</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit Product Modal -->
          <!-- <div class="modal fade" id="editShippingModal" tabindex="-1" role="dialog"
            aria-labelledby="editShippingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editShippingModalLabel">تعديل السعر شحن</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" id="editShippingForm">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div id="edit-variant-formset-container">
                      {{ variant_formset.management_form }}
                      {% for form in variant_formset %}
                      <div class="variant-form">
                        {% csrf_token %}
                        {{form.as_p}}
                      </div>
                      {% endfor %}
                    </div>
                    <button type="button" class="btn btn-outline-success" id="edit-variant">اضافة منتج</button>


                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                  <button type="button" class="btn btn-primary" id="updateShippingBtn">حفظ التغييرات</button>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Delete Confirmation Modal -->
          <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteConfirmationModalLabel">تأكيد الحذف</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>هل أنت متأكد أنك تريد حذف هذا السعر شحن؟</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                  <button type="button" class="btn btn-danger" id="confirmDeleteBtn">تأكيد الحذف</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.card -->
    <!-- /.col -->
    <!-- /.row -->
    <!-- /.container-fluid -->
  </section>

  <!-- /.content -->