{% include 'pages/affilate/orders/partials/scripts/datatable.html' %}
{% include 'pages/affilate/orders/partials/scripts/redraw_table.html' %}
{% include 'pages/affilate/orders/partials/scripts/add_row_form_handling.html' %}
{% include 'pages/affilate/orders/partials/scripts/edit_delete_row_handling.html' %}
{% include 'pages/affilate/orders/partials/scripts/show_messages.html' %}
{% include 'pages/affilate/orders/partials/scripts/order_details_row.html' %}
{% include 'pages/affilate/orders/partials/scripts/whatsapp_message.html' %}

