{% extends 'base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>طلبات سحب</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item">
              <a href="#">افيليت</a>
            </li>
            <li class="breadcrumb-item active">طلبات سحب</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row"></div>
      <!-- /.card -->
      <div class="card">
        <!--  <div class="card-header">
                <h3 class="card-title">طلبات سحب</h3>
              </div>  -->
        <!-- /.card-header -->
        <div id="error-message-container" class="alert alert-danger" style="display: none;"></div>
        <div id="success-message-container" class="alert alert-success" style="display: none;"></div>
        <div class="card-body">



          <!-- Add these input fields above the DataTable -->
          <form class="form-group row m-2">
            <label class="form-label" for="date_range"> تاريخ: </label>
            <div class="col-xs-3 ml-">
              <input type="text" class="form-control" id="date_range">
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary" id="submitBtn">فلتر</button>
            </div>
          </form>
          <table id="example2" class="table table-bordered table-striped table-hover">
            <thead class="bg-primary">
              <tr>
                <th>#</th>
                <th>اسم المستخدم</th>
                <th>المبلغ</th>
                <th>الحالة</th>
                <th>الوسيلة</th>
                <th>فودافون كاش</th>
                <th>انستا باي</th>
                <th>حساب بنكي</th>
                <th>ملاحظة</th>
                <th>انشئت في</th>
                <th>حدثت في</th>
                <th>عملية</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>اسم المستخدم</th>
                <th>المبلغ</th>
                <th>الحالة</th>
                <th>الوسيلة</th>
                <th>فودافون كاش</th>
                <th>انستا باي</th>
                <th>حساب بنكي</th>
                <th>ملاحظة</th>
                <th>انشئت في</th>
                <th>حدثت في</th>
                <th>عملية</th>
              </tr>
            </tfoot>
          </table>


          <div class="modal fade" id="orderStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">اختر حالة طلب السحب</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Your form with a select dropdown for Order Status -->
                  <form id="orderStatusForm">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="orderStatus">حالة الطلب:</label>
                      <select class="form-control" id="orderStatus" name="orderStatus">
                      </select>
                    </div>
                    <!-- Add other form fields as needed -->
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                  <button type="button" class="btn btn-primary" id="saveorderStatusBtn">حفظ</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.card-body -->
      </div>

    </div>
    <!-- /.card -->
    <!-- /.col -->
    <!-- /.row -->
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- Datatable -->
<script>
  var dataTable;
  $(function () {

    // Initialize Date Range Picker
    var tomorrow = moment().add(1, 'days');
    $('#date_range').daterangepicker({
      locale: {
        format: 'YYYY-MM-DD',
        applyLabel: 'تطبيق',
        cancelLabel: 'إلغاء',
        customRangeLabel: 'نطاق مخصص',
      },
      startDate: '2023-01-01',
      endDate: tomorrow,
    });

    // Get the API URL using Django template syntax
    var apiUrl = "affiliate/api/vendor_api/";
    console.log("API URL:", apiUrl);

    // Initialize DataTables
    dataTable = $('#example2').DataTable({
      "language": {
        "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Arabic.json"
      },
      'processing': true,
      'serverSide': true,
      "lengthMenu": [10, 100, 500, 1000],
      'ajax': {
        'url': '/affiliate/api/requests_api/Hisham/datatable_list/',
        'type': 'GET',
        'data': function (d) {
          d.extra_search = {};  // Add an object to store individual column searches

          // Add date filters from Date Range Picker
          var dateRange = $('#date_range').val();
          if (dateRange) {
            var [startDate, endDate] = dateRange.split(' - ');
            d.start_date = startDate;
            d.end_date = endDate;
          }

          // Add individual column searches
          $('input.column-search').each(function () {
            var columnIdx = $(this).data('column-index');
            var columnName = dataTable.column(columnIdx).dataSrc();
            d.extra_search[columnName] = $(this).val();
          });
        },
      },
      'columns': [
        { 'data': 'id' },
        { 'data': 'username' },
        { 'data': 'amount' },
        { 'data': 'status' },
        { 'data': 'payment_method' },
        { 'data': 'vodafone_field' },
        { 'data': 'instapay_field' },
        { 'data': 'bank_field' },
        { 'data': 'note' },
        { 'data': 'created_at', 'visible': false },
        { 'data': 'updated_at', 'visible': false },
        {
          'data': null,
          'render': function (data, type, row) {
            // update Status
            return '<button class="btn btn-warning update-status" data-id="' + row.id + '" data-status="' + row.status + '"><i class="fas fa-edit"></i></button>'
          },
          'orderable': false,
          "searchable": false
        },
        // Add other columns as needed
      ],
      'order': [], // Disable default sorting
      dom: 'frBtip',
      scrollY: 500,
      scrollX: true,
      responsive: false,
      lengthChange: true,
      autoWidth: false,
      select: true,
      buttons: ['pageLength', 'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'],
      initComplete: function () {
        // Add individual column search inputs with placeholders
        this.api().columns().every(function () {
          var column = this;
          var input = document.createElement("input");
          $(input)
            .addClass('column-search')
            .attr('placeholder', 'ابحث ' + column.header().innerHTML)
            .data('column-index', column.index())
            .appendTo($(column.footer()).empty())
            .on('keyup change', function () {
              dataTable.draw();
            });
        });
      }
    });
  });

</script>

<!-- Redraw table -->
<script>
  // Handle click on the "Submit" button to redraw the table
  $('#submitBtn').click(function () {
    dataTable.draw();
  });
</script>


<!-- Show Message -->
<script>
  function showErrorMessage(message) {
    var errorMessageContainer = $('#error-message-container');
    errorMessageContainer.text(message);
    errorMessageContainer.show();  // Display the error message

    // Optionally, you can hide the error message after a certain duration
    setTimeout(function () {
      errorMessageContainer.hide();
    }, 5000);  // Hide after 5 seconds (adjust the duration as needed)
  }

  function showSuccessMessage(message) {
    var successMessageContainer = $('#success-message-container');
    successMessageContainer.text(message);
    successMessageContainer.show();  // Display the success message

    // Optionally, you can hide the success message after a certain duration
    setTimeout(function () {
      successMessageContainer.hide();
    }, 5000);  // Hide after 5 seconds (adjust the duration as needed)
  }
</script>


<!-- 
<script>
  // Handle click on "Edit" button
  $('#example2').on('click', '.update-status', function () {
    var requestId = $(this).data('id');
    var currentStatus = $(this).data('status');

    $('#orderStatusModal').modal('show');

    $('#saveStatusBtn').on('click', function () {
            var newStatus = $('#id_status').val();

            // Make an AJAX request to update the status in the database
            $.ajax({
                url: '/your-api-endpoint/' + requestId + '/',
                type: 'PATCH',
                data: {
                    status: newStatus
                },
                success: function (data) {
                    // Handle success, close modal, refresh DataTable, etc.
                    $('#editStatusModal').modal('hide');
                    // Refresh the DataTable (you might need to adjust this based on your DataTable configuration)
                    $('#yourDataTableId').DataTable().ajax.reload();
                },
                error: function (error) {
                    // Handle error
                    console.log(error);
                }
            });
        });
  });

</script>
 -->



<script>
  function valid_status(selectedStatus) {
    let validStatuses = [];
    switch (selectedStatus) {
      case 'جار مراجعة':
        validStatuses = ['تم الموافقة', 'تم الرفض'];
        break;
      default:
        validStatuses = [];
        break;
    }
    return validStatuses
  }



  function getnerate_dynamic_status(params) {
    // Dynamically update dropdown options based on valid statuses
    const validStatuses = valid_status(params);
    // console.log(validStatuses);
    const $orderStatusDropdown = $('#orderStatus');

    $orderStatusDropdown.empty(); // Clear existing options

    validStatuses.forEach(status => {
      $orderStatusDropdown.append(`<option value="${status}">${status}</option>`);
    });
  }


  $('#example2').on('click', '.update-status', function () {

    // Perform update status action on selected rows
    var requestId = $(this).data('id');
    var currentStatus = $(this).data('status');
    // Show the order status modal
    $('#orderStatusModal').modal('show');


    // Send a POST request to update the order status on the backend
    $.ajax({
      url: '/affiliate/api/order_api/update_status/',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ selected_order_ids: selectedOrderIds, new_status: selectedStatus }),
      headers: { 'X-CSRFToken': csrf_token },
      success: function (response) {
        console.log('Update Successful:', response);
        // Optionally, you can update the DataTable or perform other actions
        dataTable.draw(); // Refresh the DataTable
        showSuccessMessage(response.message);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.error('Update Failed:', jqXHR);
        showErrorMessage(jqXHR.responseJSON.error);
      }
    });


    // Optionally, close the modal
    $('#orderStatusModal').modal('hide');
    // });
  });




</script>





{% endblock %}