{% include 'marketers/pages/affilate/orders/partials/scripts/datatable.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/redraw_table.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/handle_buttons.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/form_scripts.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/add_row_form_handling.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/edit_delete_row_handling.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/show_messages.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/order_details_row.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/update_cities_depend_on_country.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/handling_marketers_selection.html' %}
{% include 'marketers/pages/affilate/orders/partials/scripts/orderHistory.html' %}
