<!-- Datatable -->
<script>
  var csrf_token = "{{ csrf_token }}";
  var dataTable;
  $(function () {

    // Initialize Date Range Picker
    var tomorrow = moment().add(1, 'days');
    $('#date_range').daterangepicker({
      locale: {
        format: 'YYYY-MM-DD',
        applyLabel: 'تطبيق',
        cancelLabel: 'إلغاء',
        customRangeLabel: 'نطاق مخصص',
      },
      startDate: '2023-01-01',
      endDate: tomorrow,
    });



    // Initialize DataTables
    dataTable = $('#example2').DataTable({
      'processing': true,
      'serverSide': true,
      'order': [[10, 'desc']],
      'ajax': {
        'url': '/affiliate/api/order_api/Hisham/datatable_list/',
        'type': 'GET',
        'data': function (d) {
          d.extra_search = {};  // Add an object to store individual column searches

          // Add date filters from Date Range Picker
          var dateRange = $('#date_range').val();
          if (dateRange) {
            var [startDate, endDate] = dateRange.split(' - ');
            d.start_date = startDate;
            d.end_date = endDate;
          }

          // Add individual column searches
          $('input.column-search').each(function () {
            var columnIdx = $(this).data('column-index');
            var columnName = dataTable.column(columnIdx).dataSrc();
            d.extra_search[columnName] = $(this).val();
          });
        },
      },

      'columns': [
        { 'data': 'id' },
        { 'data': 'barcode' },
        { 'data': 'status' },
        // { 'data': 'client_name' },
        // { 'data': 'client_phone1' },
        // { 'data': 'client_phone2' },
        // { 'data': 'client_address' },
        { 'data': 'shiping_price' },
        { 'data': 'commission' },
        { 'data': 'total' },
        // { 'data': 'total_items_price' },
        // { 'data': 'note' },
        // { 'data': 'whats1_clicked' },
        // { 'data': 'phone1_clicked' },
        // { 'data': 'sms1_clicked' },
        // { 'data': 'whats2_clicked' },
        // { 'data': 'phone2_clicked' },
        // { 'data': 'sms2_clicked' },
        // { 'data': 'created_at' },
        // { 'data': 'updated_at' },
        { 'data': 'marketer_name' },
        { 'data': 'governorate_name' },
        { 'data': 'city_name' },
        { 'data': 'shipping_company_name' },
        {
          'data': null,
          'render': function (data, type, row) {
            // Add Edit and Delete buttons for each row
            if (row.status === 'طلبات معلقة') {
              return '<button class="btn btn-primary btn-show-details" data-id="' + row.id + '"><i class="far fa-eye"></i></button>' +
                '<button class="btn btn-warning edit-btn" data-id="' + row.id + '">تعديل</button>';
            } else {
              return '<button class="btn btn-primary btn-show-details" data-id="' + row.id + '"><i class="far fa-eye"></i></button>';
            }


            // return '<button class="btn btn-primary btn-show-details" data-id="' + row.id + '"><i class="far fa-eye"></i></button>'+
            //  '<button class="btn btn-warning edit-btn" data-id="' + row.id + '">تعديل</button>';
            //   '<button class="btn btn-danger delete-btn" data-id="' + row.id + '">حذف</button>' +
            //   '<button class="btn btn-primary btn-show-details" data-id="' + row.id + '">عرض</button>';
          },
          'orderable': false,
          "searchable": false
        },
      ],
      // 'order': [], // Disable default sorting
      dom: 'frBtip',
      scrollY: 500,
      responsive: false,
      lengthChange: true,
      autoWidth: false,
      select: 'multi',
      buttons: ['pageLength', 'copy', 'csv', 'excel', 'pdf', 'print', 'colvis', 'selectAll', 'selectNone',
        {
          text: 'تحديث شركة الشحن',
          action: function () {
            handleUpdateShippingCompany();
          }
        },
        {
          text: 'تحديث حالة الطلب',
          action: function () {
            handleUpdateOrderStatus();
          }
        }
      ],
      initComplete: function () {
        // Add individual column search inputs with placeholders
        this.api().columns().every(function () {
          var column = this;
          var input = document.createElement("input");
          $(input)
            .addClass('column-search')
            .attr('placeholder', 'ابحث ' + column.header().innerHTML)
            .data('column-index', column.index())
            .appendTo($(column.footer()).empty())
            .on('keyup change', function () {
              dataTable.draw();
            });
        });
      }
    });
  });

</script>